@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Quicksand:wght@300;500;600&display=swap');

@font-face {
    font-family:colombia;
    src: url(fonts/Colombia-Regular.ttfs);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.slide{
    width: 100%;
    min-height: 100vh;
    position: relative; 
}

/************* Menu ***********/
#menu-pc{
    width: 100%;
    background-color:#ffffff;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
}

#menu-pc #logo  img{
    width: 100%;
    height:50px;
    margin: left 4px;
    margin-top: 10px;
}

#menu-pc nav{
    width:85%;
    height: 100%;
    background-color:#ffffff;
}

#menu-pc nav ul{
    list-style: none;
    display: flex;
}

#menu-pc nav ul li{
    flex: 1;
    text-align: center;
}

#menu-pc nav ul li a{
    text-decoration: none;
    color: #082C51;
    font-size: 12pt;
    font-family:'quicksand' ;
    line-height: 75px;
}
#nav ul li a:hover

#mobile{
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 100;
    top: 15px;
    right: 15px;
}

#burger{
    width: 75px;
    height: 75px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    z-index: 150;
    right: 10px;
    display: none;
    line-height: 75px;
    text-align: center;
    color: #ffffff;
    border: #ffffff solid 2px;
    
}

#menu-mobile{
    background-color: #082C51;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 160;
    transition: all 1s;
}
.menuON{
    left: 0px !important;
}
.croix{
    position: absolute; 
    cursor: pointer;
    z-index: 170; 
    top: 15px;
    right: 10px;
    line-height: 75 px;
    text-align: center;
    color: #ffffff;
}
.croix p{
    border: #ffffff solid 2px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: #ffffff;
    border: #ffffff solid 2px;
}
#menuresponsive{
    top: 50%;
    transform: translateY(-25%);
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;

}
#menuresponsive ul{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1060;
    color: #ffffff;
    
   

}
#menuresponsive ul li{
    list-style: none;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
#menuresponsive ul li a{
    text-decoration: none;
    color: #ffffff;
    width: 100%; 
    font-size: 8vw;
    font-family:'quicksand';
}

/************* accueil ***********/
#home{
    background-color: #082C51;
}

#home .container{
    width: 100%;
    height: 100vh;
}

#home img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vh;
}

/************* qui sommes nous ***********/
#groupe{
    display: flex;
}
.gauche{
    display:flex ;
    width: 40%;
    height: 100vh;
}
.gauche #nous{
    
    background-image: url(images/fondquisommesnous.png);
    background-position: center right;
    background-size:cover ;
    background-repeat: no-repeat;
   
}
.gauche #nous #deux{  
    width: 60%;
    height: 60%;
    z-index: 1070;
    margin-left:20px;
    margin-top:10px;
}
h1{
    margin-left:15px ;
    color: white;
    font-family: Quicksand;
   font-size: 30px;
}

p{
    text-align: left;
    margin-left: 40px;
    margin-top: 25px;
    color:white;
    z-index: 1070;
    width: 60%;
    font-family: quicksand;

}
.droite{
    display: flex;
    width: 60%;
    height: 100vh;
}

#logoNous{
    height: 30%;
    background-image: url(images/grandlogo.png);
    background-position: top left;
    background-size:contain;
    background-repeat: no-repeat;
}

.droite p{
    text-align:left;
    color: #082C51;
    font-family: quicksland;
    z-index: 1071;
    margin-top: 25px;
    margin-left: 40px;
    width: 80%;
}

#quisommesnousresponsive img{
    background-image: url(images/fondresponsiveqsn.png);
}
/*********Service*********/

#ensemble{
    display: flex;
}
.gauche{
    display:flex ;
    width: 40%;
    height: 100vh;
    background-color:#082C51;
}










/************* contact ***********/
#contact{
    background-color: #ffffff;
}

#petitlogo img{
    width: 100%;
    display: block;
}

#contact .grid-container{
    display: flex;
    flex-wrap: wrap;
}

#contact .gauche{
    width: 30%;
}

#contact .droite{
    width: 70%;
    background-image: url(images/fond\ contact\ pc.png);
}

#info{
    text-align: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;

}

.container-form{
    width: 50%;
    margin: 60px auto;
}

.container-form h2{
    padding: 0;
    font-size: 50px;
}

.container-form form{
    width: 80%;
    margin: 0 auto;
}

.form-group{
    margin: 20px 0;
}

.form-group input, .form-group textarea{
    width: 100%;
    font-size: 18px;
    font-family:'quicksand' ;
}

.form-group input{
    padding: 15px 5px;
    border: none;
    border-bottom: solid 2px rgb(4, 44, 81);
    background-color: transparent;
}

.form-group textarea{
    padding: 15px 5px;
    border: none;
    border-bottom: solid 2px rgb(4, 44, 81);
    background-color: transparent;
    resize: none;
}

.form-group input[type=submit]{
    width: 30%;
    margin-left: 70%;
    border: none;
    cursor: pointer;
}

#coordonnees h4{
    margin: 10px 0;
    font-family: 'quicksand', cursive;
    font-size: 25px;
}

#coordonnees p{
    margin: 10px 0;
}




/*********Footer*********/
footer{
  
   bottom: 0px;
    width: 100%;    
    line-height: 80px;
    color:#ffffff;
    font-size: 15px;
    background-color: #042C51;
    font-family:'quicksand';
    display: flex;
    justify-content: space-between;
    z-index: 100;
    text-align: center;
}
.reseaux i {
    width: 25px;
    height: 25px;
}

@media all and (max-width: 768px)
{
    #menu-pc{
        display: none;
    }

    #mobile{
        display: block;
    }
    #burger{
        display: block;
    }
    #menu-mobile{
        display: block;
    }
    #menuresponsive{
        display: block;
        
    }
    
    #home img{
        display:block;
        width: 80%;
}
}

